# Note that for every parameter, you can also set "[PARAMETER]_FILE"
# to a file that contains the value. This is especially useful for things
# like mounted secrets in Docker Swarm or Kubernetes.

# Configuration File
# 
# Set the config file contents. Must be a valid YAML string.
# In most cases, you'll want to use CONFIG_FILE, instead.
# CONFIG=
# CONFIG="{ ... }"
# 
# The path to the configuration file.
# Must be set unless you set the config directly.
CONFIG_FILE="config/config.yml"
# CONFIG_FILE=/etc/dms/config.yml

# Folder Ingest Configuration
# 
# The CRON expression that determines how often the folder should be checked for new files.
# FOLDER_INGEST_CRON=
# FOLDER_INGEST_CRON="* * * * *" # Every minute
# FOLDER_INGEST_CRON="*/5 * * * *" # Every 5 minutes
# FOLDER_INGEST_CRON="30 3 * * *" # Every day at 3:30 AM
# 
# The path to the folder that should be watched for new files.
# This can be a relative path, in which case it is relative to the working directory.
# FOLDER_INGEST_PATH=
# FOLDER_INGEST_PATH=/var/dms/ingest

# MongoDB URI
# 
# The connection string for your MongoDB instance.
# This is optional when used with the provided compose.yml, but mandatory otherwise.
MONGO_URI=mongodb://mongo:27017/mongodb-dms

# OIDC (OpenID Connect) Configuration
# 
# Secret key used for signing and verifying tokens.
# Must be at least 32 characters long for security purposes.
OIDC_AUTH_SECRET=RANDOM_SECRET_WITH_MIN_32_CHARS_CHANGE_ME_IMMEDIATELY_UPON_COPYING
# 
# Client ID provided by your OIDC provider.
# Replace "XXX" with your actual client ID.
OIDC_CLIENT_ID="XXX"
# 
# Client Secret provided by your OIDC provider.
# Replace "XXX" with your actual client secret.
OIDC_CLIENT_SECRET="XXX"
# 
# The URL of the OIDC provider's authorization server.
# This is where your application will redirect users to authenticate.
OIDC_ISSUER=https://logto.example.com/oidc # Logto
# OIDC_ISSUER=https://authentik.example.com/application/o/dms/ # Authentik
# OIDC_ISSUER=https://authelia.example.com # Authelia
# OIDC_ISSUER=https://keycloak.example.com/realms/[REALM] # Keycloak
# 
# The claim in the ID token that contains the user's name.
# OIDC_NAME_CLAIM=name
# OIDC_NAME_CLAIM=preferred_username
# 
# The URL to which the OIDC provider will redirect users after authentication.
# This should match the redirect URI registered with your OIDC provider.
OIDC_REDIRECT_URI=http://localhost:41319/oidc/callback
# 
# The claim in the ID token that contains the user's roles.
# OIDC_ROLES_CLAIM=roles
# OIDC_ROLES_CLAIM=groups
# OIDC_ROLES_CLAIM=custom-roles-claim
# 
# Scopes requested from the OIDC provider.
# These determine the information returned in the ID token.
OIDC_SCOPES="openid profile roles"
# 
# The claim in the ID token that contains the user's unique identifier.
# OIDC_UID_CLAIM=sub
# OIDC_UID_CLAIM=uid
# OIDC_UID_CLAIM=email
# OIDC_UID_CLAIM=custom-uid-claim

# Other
# 
# The DSN provided by Sentry or a compatible service like GlitchTip.
# Defaults to an empty string, disabling error tracking.
# SENTRY_DSN=
# SENTRY_DSN="https://xxx.glitchtip.example.com/xxx"
# SENTRY_DSN="https://xxx@xxx.ingest.us.sentry.io/xxx"
